<h1>Course Listing</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A thorough intoduction to Computer Science</li>
</ul>

<ul>
  <li>Code: CS211</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A thorough intoduction to Computer Science</li>
</ul>